* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: blanchedalmond;
  color: rgb(29, 26, 26);
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 8px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
