* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 8px;
}

.activate {
  color: yellow;
}
